body
{
	background:#6699ff
}

nav a:first-child
{
	margin-right: 90vw;
}

article
{
	text-align: center;
}

footer
{
	background-color:#cccccc;
	margin-top:50px;
	text-align:center;
	margin:10vw;
}